<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-block">
    <div class="card-title" style="border-bottom: 0.5px solid gray">
        <h3><%= @article.title %></h3>
        <% unless @article.user.nil? %>
            <h6><i>Created by <b><%= @article.user.email %></b></i></h6>
        <% end %>
    </div> 

    <div class="card-text">
        <p class="card-text">
            <%= $markdown.render(@article.body).html_safe %>
        </p>
    </div>
</div>
    
<div class="card-footer">
    <%= link_to 'Back', articles_path, class:'btn btn-primary' %>
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
</div>